body {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

main {
  background-color: var(--primary-color);
  flex: 1;
  overflow-y: scroll;
  padding: 48px 0px;
  display: flex;
  flex-direction: column;
}

.pokemon-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 48px;
  padding: 0 var(--content-padding);

  background-color: var(--primary-color);
}

.load-more-section {
  display: flex;
  padding: 0 var(--content-padding);
  padding-top: 48px;
  justify-content: center;
  justify-self: flex-end;
}

.load-more-btn {
  height: 48px;
  width: 150px;
  border-radius: 16px;
  text-align: center;
  background-color: var(--secondary-color);
  border: none;
}

.load-more-btn:hover {
  background-color: rgba(9, 33, 42, 0.8);
  border: 2px solid white;
}

.no-pkm-found {
  text-align: center;
}

/* #region header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--content-padding);

  background-color: var(--secondary-color);
  height: 80px;
}

.header-left {
  display: flex;
  gap: 8px;
}

.pokeball-logo {
  height: 36px;
}

.filter-pokemon-input {
  height: 32px;
}

/* #endregion */

/* #region footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 var(--content-padding);

  background-color: var(--secondary-color);
  height: 120px;
}

.da-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 16px;
}

.da-logo-top {
  display: flex;
  gap: 8px;
}

/* #endregion */
