body {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

main {
  position: relative;
  background-color: var(--primary-color);
  flex: 1;
  overflow-y: scroll;
  padding: 48px 0px;
  display: flex;
  flex-direction: column;
}

.display-none {
  display: none;
}

.loading-spinner-container {
  position: absolute;
  top: calc(50% - 100px);
  display: none;
  flex-direction: column;
  gap: 16px;
  align-self: center;
  justify-self: center;
  align-items: center;
  justify-content: center;
}

.loading-spinner-container-evo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.loading-spinner {
  width: 100px;
  animation: spinning 1s linear infinite;
}

.loading-spinner-evo {
  width: 50px;
  animation: spinning 1s linear infinite;
}

@keyframes spinning {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

.pokemon-section,
.load-more-section,
header,
footer {
  padding: 0 var(--content-padding);
}

.pokemon-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 48px;

  background-color: var(--primary-color);
}

.load-more-section {
  display: flex;
  padding-top: 48px;
  justify-content: center;
  justify-self: flex-end;
}

.load-more-btn {
  height: 48px;
  width: 150px;
  border-radius: 16px;
  text-align: center;
  background-color: var(--secondary-color);
  border: none;
}

.load-more-btn:hover {
  background-color: rgba(9, 33, 42, 0.8);
  border: 2px solid white;
}

.no-pkm-found {
  text-align: center;
}

/* #region header */

header {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */

  background-color: var(--secondary-color);
  height: 80px;
}

.header-left {
  display: flex;
  gap: 8px;
  align-self: center;
}

.pokeball-logo {
  height: 36px;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.input-container input {
  width: 200px;
  height: 32px;
}

.visibility-hidden {
  visibility: hidden;
}

/* #endregion */

/* #region footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--secondary-color);
  height: 120px;
}

.da-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 16px;
}

.da-logo-top {
  display: flex;
  gap: 8px;
}

/* #endregion */

/* #region responsive */
@media screen and (max-width: 768px) {
  .pokemon-section,
  .load-more-section,
  header,
  footer {
    padding: 0 var(--content-padding-small);
  }

  .load-more-section {
    padding-top: 48px;
  }
}

@media screen and (max-width: 480px) {
  .pokeball-logo {
    height: 32px;
  }

  .input-container input {
    width: 150px;
  }

  h1 {
    display: none;
  }

  .load-more-section {
    padding-top: 24px;
  }

  main {
    padding: 24px 0px;
  }

  .loading-spinner {
    width: 64px;
  }
}

/* #endregion */
