:root {
  --primary-color: rgb(6, 23, 30);
  --secondary-color: rgb(9, 33, 42);
  --third-color: #124658;

  --content-padding: max(calc(50% - 960px), 48px);
  --content-padding-small: max(calc(50% - 960px), 24px);
}
